<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feather.community.mapper.ZhsqJmrwghMapper">
    
    <resultMap type="ZhsqJmrwgh" id="ZhsqJmrwghResult">
        <result property="jmrwghid"    column="jmrwghid"    />
        <result property="jmid"    column="jmid"    />
        <result property="personnel"    column="personnel"    />
        <result property="event"    column="event"    />
        <result property="time"    column="time"    />
    </resultMap>

    <sql id="selectZhsqJmrwghVo">
        select jmrwghid, jmid, personnel, event, time from ZHSQ_JMRWGH
    </sql>

    <select id="selectZhsqJmrwghList" parameterType="ZhsqJmrwgh" resultMap="ZhsqJmrwghResult">
        <include refid="selectZhsqJmrwghVo"/>
        <where>  
        </where>
    </select>
    
    <select id="selectZhsqJmrwghById" parameterType="String" resultMap="ZhsqJmrwghResult">
        <include refid="selectZhsqJmrwghVo"/>
        where jmrwghid = #{jmrwghid}
    </select>
        
    <insert id="insertZhsqJmrwgh" parameterType="ZhsqJmrwgh">
        insert into ZHSQ_JMRWGH
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="jmrwghid != null  and jmrwghid != ''">jmrwghid,</if>
            <if test="jmid != null  and jmid != ''">jmid,</if>
            <if test="personnel != null  and personnel != ''">personnel,</if>
            <if test="event != null  and event != ''">event,</if>
            <if test="time != null  and time != ''">time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="jmrwghid != null  and jmrwghid != ''">#{jmrwghid},</if>
            <if test="jmid != null  and jmid != ''">#{jmid},</if>
            <if test="personnel != null  and personnel != ''">#{personnel},</if>
            <if test="event != null  and event != ''">#{event},</if>
            <if test="time != null  and time != ''">#{time},</if>
         </trim>
    </insert>

    <update id="updateZhsqJmrwgh" parameterType="ZhsqJmrwgh">
        update ZHSQ_JMRWGH
        <trim prefix="SET" suffixOverrides=",">
            <if test="jmid != null  and jmid != ''">jmid = #{jmid},</if>
            <if test="personnel != null  and personnel != ''">personnel = #{personnel},</if>
            <if test="event != null  and event != ''">event = #{event},</if>
            <if test="time != null  and time != ''">time = #{time},</if>
        </trim>
        where jmrwghid = #{jmrwghid}
    </update>

    <delete id="deleteZhsqJmrwghById" parameterType="String">
        delete from ZHSQ_JMRWGH where jmrwghid = #{jmrwghid}
    </delete>

    <delete id="deleteZhsqJmrwghByIds" parameterType="String">
        delete from ZHSQ_JMRWGH where jmrwghid in 
        <foreach item="jmrwghid" collection="array" open="(" separator="," close=")">
            #{jmrwghid}
        </foreach>
    </delete>



    <!--获取水表日志最新数据-->
    <select id="findAllByJmid" resultType="map">
        select * from ZHSQ_JMRWGH
        <where>
            <if test="jmid != null  and jmid != ''">and JMID = #{jmid}</if>
        </where>
    </select>
</mapper>