<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feather.community.mapper.ZhsqJgrzMapper">

    <!--获取井盖测距最新数据-->
    <select id="selectZhsqJgrzNew" resultType="map">
        select * from
        (select * from ZHSQ_JGRZ
        <where>
            <if test="arg0 != null  and arg0 != ''">and SN = #{arg0}</if>
        </where>
        order by CREATE_TIME desc)
        where rownum = 1
    </select>

    <!--井盖展示-->
    <select id="findBySn" resultType="map">
        select SN as "sn", DISTANCE as "distance", to_char(to_date(CREATE_TIME,'yyyymmddHH24:MI:SS'),'yyyy-mm-dd
        HH24:MI:SS') as time, JGSTATE as "jgstate" from ZHSQ_JGRZ
        <where>
            <if test="sn != null  and sn != ''">and SN = #{sn}</if>
        </where>
        ORDER BY CREATE_TIME ASC
    </select>
    <!--井盖展示加入时间检索-->
    <select id="findJgDisBySSE" resultType="map">
        select SN as "sn", DISTANCE as "distance", to_char(to_date(CREATE_TIME,'yyyymmddHH24:MI:SS'),'yyyy-mm-dd
        HH24:MI:SS') as time ,JGSTATE as "jgstate" from ZHSQ_JGRZ
        <where>
            <if test="arg0 != null  and arg0 != ''">and SN = #{arg0}</if>
            <if test="arg1 != null and arg1 != ''"><!-- 开始时间检索 -->
                and CREATE_TIME &gt;= #{arg1, jdbcType=BIGINT}
            </if>
            <if test="arg2 != null and arg2 != ''"><!-- 结束时间检索 -->
                and CREATE_TIME &lt;= #{arg2, jdbcType=BIGINT}
            </if>
        </where>
        ORDER BY CREATE_TIME ASC
    </select>

    <resultMap type="ZhsqJgDistance" id="ZhsqJgrzResult">
        <result property="id" column="id"/>
        <result property="sn" column="sn"/>
        <result property="distance" column="distance"/>
        <result property="createTime" column="create_time" jdbcType="BIGINT"/>
        <result property="jgstate" column="jgstate"/>
    </resultMap>

    <!-- <sql id="selectZhsqJgrzVo">
         select id,sn,distance from ZHSQ_JGRZ
     </sql>
 -->
    <insert id="insertZhsqJgrz" parameterType="ZhsqJgrz">
        insert into ZHSQ_JGRZ
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="sn != null  and sn != ''">sn,</if>
            <if test="distance != null  and distance != ''">distance,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="jgstate != null  and jgstate != ''">jgstate,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="sn != null  and sn != ''">#{sn},</if>
            <if test="distance != null  and distance != ''">#{distance},</if>
            <if test="createTime != null ">#{createTime, jdbcType=BIGINT},</if>
            <if test="jgstate != null  and jgstate != ''">#{jgstate},</if>
        </trim>
    </insert>


    <sql id="selectZhsqJgrzVo">
        select id, sn, distance, create_time, jgstate from ZHSQ_JGRZ
    </sql>

    <select id="selectZhsqJgrzList" parameterType="ZhsqJgrz" resultMap="ZhsqJgrzResult">
        <include refid="selectZhsqJgrzVo"/>
        <where>
            <if test="sn != null  and sn != ''">and sn = #{sn}</if>
            <if test="distance != null ">and distance = #{distance}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="jgstate != null  and jgstate != ''">and jgstate = #{jgstate}</if>
        </where>
    </select>

    <select id="selectZhsqJgrzById" parameterType="String" resultMap="ZhsqJgrzResult">
        <include refid="selectZhsqJgrzVo"/>
        where id = #{id}
    </select>


    <update id="updateZhsqJgrz" parameterType="ZhsqJgrz">
        update ZHSQ_JGRZ
        <trim prefix="SET" suffixOverrides=",">
            <if test="sn != null  and sn != ''">sn = #{sn},</if>
            <if test="distance != null ">distance = #{distance},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="jgstate != null  and jgstate != ''">jgstate = #{jgstate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZhsqJgrzById" parameterType="String">
        delete from ZHSQ_JGRZ where id = #{id}
    </delete>

    <delete id="deleteZhsqJgrzByIds" parameterType="String">
        delete from ZHSQ_JGRZ where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>