<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feather.community.mapper.ZhsqJgDistanceMapper">

    <!--获取井盖测距最新数据-->
    <select id="selectZhsqJgDistanceNew" resultType="map">
        select * from
            (select * from ZHSQ_JG_DISTANCE order by CREATE_TIME desc)
        where rownum = 1
    </select>

    <!--井盖展示-->
    <select id="findBySn" resultType="map">
        select SN as "sn", DISTANCE as "distance", to_char(to_date(CREATE_TIME,'yyyymmddHH24:MI:SS'),'yyyy-mm-dd') as time, JGSTATE as "jgstate" from ZHSQ_JG_DISTANCE
        <where>
            <if test="sn != null  and sn != ''">and SN = #{sn}</if>
        </where>
        ORDER BY  CREATE_TIME ASC
    </select>
    <!--井盖展示加入时间检索-->
    <select id="findJgDisBySSE" resultType="map">
        select SN as "sn", DISTANCE as "distance",   to_char(to_date(CREATE_TIME,'yyyymmddHH24:MI:SS'),'yyyy-mm-dd') as time ,JGSTATE as "jgstate" from ZHSQ_JG_DISTANCE
        <where>
            <if test="arg0 != null  and arg0 != ''">and SN = #{arg0}</if>
            <if test="arg1 != null and arg1 != ''"><!-- 开始时间检索 -->
                and CREATE_TIME &gt;= #{arg1, jdbcType=BIGINT}
            </if>
            <if test="arg2 != null and arg2 != ''"><!-- 结束时间检索 -->
                and CREATE_TIME &lt;= #{arg2, jdbcType=BIGINT}
            </if>
        </where>
        ORDER BY  CREATE_TIME ASC
    </select>

    <resultMap type="ZhsqJgDistance" id="ZhsqJgDistanceResult">
        <result property="id"    column="id"    />
        <result property="sn"    column="sn"    />
        <result property="distance"    column="distance"    />
        <result property="createTime"    column="create_time"    jdbcType="BIGINT" />
        <result property="jgstate"    column="jgstate"    />
    </resultMap>

   <!-- <sql id="selectZhsqJgDistanceVo">
        select id,sn,distance from ZHSQ_JG_Distance
    </sql>
-->
    <insert id="insertZhsqJgDistance" parameterType="ZhsqJgDistance">
        insert into ZHSQ_JG_Distance
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">id,</if>
            <if test="sn != null  and sn != ''">sn,</if>
            <if test="distance != null  and distance != ''">distance,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="jgstate != null  and jgstate != ''">jgstate,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''">#{id},</if>
            <if test="sn != null  and sn != ''">#{sn},</if>
            <if test="distance != null  and distance != ''">#{distance},</if>
            <if test="createTime != null ">#{createTime, jdbcType=BIGINT},</if>
            <if test="jgstate != null  and jgstate != ''">#{jgstate},</if>
         </trim>
    </insert>





    <sql id="selectZhsqJgDistanceVo">
        select id, sn, distance, create_time, jgstate from ZHSQ_JG_DISTANCE
    </sql>

    <select id="selectZhsqJgDistanceList" parameterType="ZhsqJgDistance" resultMap="ZhsqJgDistanceResult">
        <include refid="selectZhsqJgDistanceVo"/>
        <where>
            <if test="sn != null  and sn != ''"> and sn = #{sn}</if>
            <if test="distance != null "> and distance = #{distance}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="jgstate != null  and jgstate != ''"> and jgstate = #{jgstate}</if>
        </where>
    </select>

    <select id="selectZhsqJgDistanceById" parameterType="String" resultMap="ZhsqJgDistanceResult">
        <include refid="selectZhsqJgDistanceVo"/>
        where id = #{id}
    </select>


    <update id="updateZhsqJgDistance" parameterType="ZhsqJgDistance">
        update ZHSQ_JG_DISTANCE
        <trim prefix="SET" suffixOverrides=",">
            <if test="sn != null  and sn != ''">sn = #{sn},</if>
            <if test="distance != null ">distance = #{distance},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="jgstate != null  and jgstate != ''">jgstate = #{jgstate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteZhsqJgDistanceById" parameterType="String">
        delete from ZHSQ_JG_DISTANCE where id = #{id}
    </delete>

    <delete id="deleteZhsqJgDistanceByIds" parameterType="String">
        delete from ZHSQ_JG_DISTANCE where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>