<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feather.community.mapper.ZhsqSbMapper">

    <resultMap type="ZhsqSb" id="ZhsqSbResult">
        <result property="deviceCode"    column="device_code"    />
        <result property="sblx"    column="sblx"    />
        <result property="sbmc"    column="sbmc"    />
        <result property="ppmc"    column="ppmc"    />
        <result property="sbxh"    column="sbxh"    />
        <result property="sbzt"    column="sbzt"    />
        <result property="x"    column="x"    />
        <result property="y"    column="y"    />
        <result property="z"    column="z"    />
        <result property="wz"    column="wz"    />
        <result property="ldid"    column="ldid"    />
        <result property="xqid"    column="xqid"    />
        <result property="sqid"    column="sqid"    />
        <!--新添加水表地址-->
        <result property="waterMeterAddress"    column="waterMeterAddress"  />
        <result property="deviceSn"    column="deviceSn"  />
        <result property="period"    column="period"  />
        <result property="waterMeterSn"    column="waterMeterSn"  />

    </resultMap>

    <sql id="selectZhsqSbVo">
        select device_code, sblx, sbmc, ppmc, sbxh, sbzt, x, y, z, wz, ldid, xqid, sqid,waterMeterAddress,deviceSn,period,waterMeterSn from zhsq_sb
    </sql>

    <select id="selectZhsqSbList" parameterType="ZhsqSb" resultMap="ZhsqSbResult">
        <include refid="selectZhsqSbVo"/>
        <where>
            <if test="deviceCode != null  and deviceCode != ''"> and device_code = #{deviceCode}</if>
            <if test="sblx != null  and sblx != ''"> and sblx = #{sblx}</if>
            <if test="sbmc != null  and sbmc != ''">
                <bind name="_sbmc" value="'%'+ sbmc +'%'"/>
                and sbmc like concat(concat('%',#{_sbmc}),'%')
            </if>
            <if test="ppmc != null  and ppmc != ''">
                <bind name="_ppmc" value="'%'+ ppmc +'%'"/>
                and ppmc like #{_ppmc}
            </if>
            <if test="sbxh != null  and sbxh != ''"> and sbxh = #{sbxh}</if>
            <if test="sbzt != null  and sbzt != ''"> and sbzt = #{sbzt}</if>
            <if test="x != null  and x != ''"> and x = #{x}</if>
            <if test="y != null  and y != ''"> and y = #{y}</if>
            <if test="z != null  and z != ''"> and z = #{z}</if>
            <if test="wz != null  and wz != ''">
                <bind name="_wz" value="'%'+ wz +'%'"/>
                and wz  like concat(concat('%',#{_wz}),'%')
             </if>
            <if test="ldid != null  and ldid != ''"> and ldid = #{ldid}</if>
            <if test="xqid != null  and xqid != ''"> and xqid = #{xqid}</if>
            <if test="sqid != null  and sqid != ''"> and sqid = #{sqid}</if>
            <if test="deviceSn != null  and deviceSn != ''"> and deviceSn = #{deviceSn}</if>
            <if test="waterMeterSn != null  and waterMeterSn != ''"> and waterMeterSn = #{waterMeterSn}</if>
        </where>
    </select>


    <select id="getSbList" parameterType="ZhsqSb" resultMap="ZhsqSbResult">
        <include refid="selectZhsqSbVo"/>
    </select>
    <select id="selectZhsqSbById" parameterType="String" resultMap="ZhsqSbResult">
        <include refid="selectZhsqSbVo"/>
        where device_code = #{deviceCode}
    </select>

    <select id="getSbDetail" parameterType="String" resultType="Map">
       	select z.device_code,z.ppmc,z.sbzt,z.sbmc,z.x,z.y,z.z,z.wz,m.*,m2.* ,m3.* from ZHSQ_SB z , (select max(tmax)-min(tmax) as drys from (
				select nvl(max(total),0) as tmax  from ZHSQ_SBRZ where device_code= #{deviceCode} and to_char(to_date(CREATE_TIME,'yyyymmddHH24:MI:SS'),'yyyy-mm-dd')=(select TO_CHAR(SYSDATE-1,'yyyy-mm-dd') from dual) union all
				select nvl(max(total),0) as tmax from ZHSQ_SBRZ where device_code= #{deviceCode} and to_char(to_date(CREATE_TIME,'yyyymmddHH24:MI:SS'),'yyyy-mm-dd')=(select TO_CHAR(SYSDATE,'yyyy-mm-dd') from dual) )t) m ,(select max(tmax)-min(tmax) as dyys from (
				select nvl(max(total),0) as tmax  from ZHSQ_SBRZ where device_code= #{deviceCode} and to_char(to_date(CREATE_TIME,'yyyymmddHH24:MI:SS'),'yyyy-mm-dd')=(select to_char(add_months(trunc(sysdate),-1),'yyyy-mm') from dual) union all
				select nvl(max(total),0) as tmax from ZHSQ_SBRZ where device_code= #{deviceCode} and to_char(to_date(CREATE_TIME,'yyyymmddHH24:MI:SS'),'yyyy-mm-dd')=(select TO_CHAR(SYSDATE,'yyyy-mm') from dual ))t) m2  ,(select max(total) as zysl  from ZHSQ_SBRZ where device_code=#{deviceCode} ) m3  where z.device_code= #{deviceCode}
    </select>



    <insert id="insertZhsqSb" parameterType="ZhsqSb">
        insert into zhsq_sb
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceCode != null  and deviceCode != ''">device_code,</if>
            <if test="sblx != null  and sblx != ''">sblx,</if>
            <if test="sbmc != null  and sbmc != ''">sbmc,</if>
            <if test="ppmc != null  and ppmc != ''">ppmc,</if>
            <if test="sbxh != null  and sbxh != ''">sbxh,</if>
            <if test="sbzt != null  and sbzt != ''">sbzt,</if>
            <if test="x != null  and x != ''">x,</if>
            <if test="y != null  and y != ''">y,</if>
            <if test="z != null  and z != ''">z,</if>
            <if test="wz != null  and wz != ''">wz,</if>
            <if test="ldid != null  and ldid != ''">ldid,</if>
            <if test="xqid != null  and xqid != ''">xqid,</if>
            <if test="sqid != null  and sqid != ''">sqid,</if>
            <if test="waterMeterAddress != null  and waterMeterAddress != ''">waterMeterAddress,</if>
            <if test="deviceSn != null  and deviceSn != ''">deviceSn,</if>
            <if test="period != null  and period != ''">period,</if>
            <if test="waterMeterSn != null  and waterMeterSn != ''">waterMeterSn,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceCode != null  and deviceCode != ''">#{deviceCode},</if>
            <if test="sblx != null  and sblx != ''">#{sblx},</if>
            <if test="sbmc != null  and sbmc != ''">#{sbmc},</if>
            <if test="ppmc != null  and ppmc != ''">#{ppmc},</if>
            <if test="sbxh != null  and sbxh != ''">#{sbxh},</if>
            <if test="sbzt != null  and sbzt != ''">#{sbzt},</if>
            <if test="x != null  and x != ''">#{x},</if>
            <if test="y != null  and y != ''">#{y},</if>
            <if test="z != null  and z != ''">#{z},</if>
            <if test="wz != null  and wz != ''">#{wz},</if>
            <if test="ldid != null  and ldid != ''">#{ldid},</if>
            <if test="xqid != null  and xqid != ''">#{xqid},</if>
            <if test="sqid != null  and sqid != ''">#{sqid},</if>
            <if test="waterMeterAddress != null  and waterMeterAddress != ''">#{waterMeterAddress},</if>
            <if test="deviceSn != null  and deviceSn != ''">#{deviceSn},</if>
            <if test="period != null  and period != ''">#{period},</if>
            <if test="waterMeterSn != null  and waterMeterSn != ''">#{waterMeterSn},</if>
        </trim>
    </insert>

    <update id="updateZhsqSb" parameterType="ZhsqSb">
        update zhsq_sb
        <trim prefix="SET" suffixOverrides=",">
            <if test="sblx != null  and sblx != ''">sblx = #{sblx},</if>
            <if test="sbmc != null  and sbmc != ''">sbmc = #{sbmc},</if>
            <if test="ppmc != null  and ppmc != ''">ppmc = #{ppmc},</if>
            <if test="sbxh != null  and sbxh != ''">sbxh = #{sbxh},</if>
            <if test="sbzt != null  and sbzt != ''">sbzt = #{sbzt},</if>
            <if test="x != null  and x != ''">x = #{x},</if>
            <if test="y != null  and y != ''">y = #{y},</if>
            <if test="z != null  and z != ''">z = #{z},</if>
            <if test="wz != null  and wz != ''">wz = #{wz},</if>
            <if test="ldid != null  and ldid != ''">ldid = #{ldid},</if>
            <if test="xqid != null  and xqid != ''">xqid = #{xqid},</if>
            <if test="sqid != null  and sqid != ''">sqid = #{sqid},</if>
            <if test="waterMeterAddress != null  and waterMeterAddress != ''">waterMeterAddress = #{waterMeterAddress},</if>
            <if test="deviceSn != null  and deviceSn != ''">deviceSn = #{deviceSn},</if>
            <if test="period != null  and period != ''">period = #{period},</if>
            <if test="waterMeterSn != null  and waterMeterSn != ''">waterMeterSn = #{waterMeterSn},</if>
        </trim>
        where device_code = #{deviceCode}
    </update>

    <delete id="deleteZhsqSbById" parameterType="String">
        delete from zhsq_sb where device_code = #{deviceCode}
    </delete>

    <delete id="deleteZhsqSbByIds" parameterType="String">
        delete from zhsq_sb where device_code in
        <foreach item="deviceCode" collection="array" open="(" separator="," close=")">
            #{deviceCode}
        </foreach>
    </delete>

</mapper>