<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feather.community.mapper.ZhsqSbrzMapper">

    <resultMap type="ZhsqSbrz" id="ZhsqSbrzResult">
        <result property="createByid" column="create_byid"/>
        <result property="sbrzid" column="sbrzid"/>
        <result property="deviceCode" column="device_code"/>
        <result property="instant" column="instant"/>
        <result property="total" column="total"/>
        <result property="waterMeterSn" column="waterMeterSn"/>
        <result property="createTime" column="create_time" jdbcType="BIGINT"/>
        <result property="createBy" column="create_by"/>
        <result property="deviceSn" column="deviceSn"/>
        <result property="updateByid" column="update_byid"/>
    </resultMap>

    <sql id="selectZhsqSbrzVo">
        select create_byid, sbrzid, device_code, remark, update_time, update_by, create_time, create_by,total, instant, waterMeterSn, deviceSn, update_byid from ZHSQ_SBRZ
    </sql>

    <select id="selectZhsqSbrzList" parameterType="ZhsqSbrz" resultMap="ZhsqSbrzResult">
        <include refid="selectZhsqSbrzVo"/>
        <where>
            <if test="createByid != null ">and create_byid = #{createByid}</if>
            <if test="createByid != null ">and create_byid = #{createByid}</if>
            <if test="deviceCode != null  and deviceCode != ''">and device_code = #{deviceCode}</if>
            <if test="remark != null  and remark != ''">and remark = #{remark}</if>
            <if test="updateTime != null ">and update_time = #{updateTime}</if>
            <if test="updateBy != null  and updateBy != ''">and update_by = #{updateBy}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="createBy != null  and createBy != ''">and create_by = #{createBy}</if>
            <if test="instant != null and instant !='' ">and instant = #{instant}</if>
            <if test="total != null and total !='' ">and total = #{total}</if>
            <if test="waterMeterSn != null and  waterMeterSn!='' ">and waterMeterSn like
                concat(concat('%',#{waterMeterSn}),'%')
            </if>
            <if test="deviceSn != null  and deviceSn != ''">and deviceSn like concat(concat('%',#{deviceSn}),'%')</if>
            <if test="updateByid != null ">and update_byid = #{updateByid}</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != ''"><!-- 开始时间检索 -->
                and create_time &gt;= #{params.beginCreateTime, jdbcType=BIGINT}
            </if>
            <if test="params.endCreateTime != null and params.endCreateTime != ''"><!-- 结束时间检索 -->
                and create_time &lt;= #{params.endCreateTime, jdbcType=BIGINT}
            </if>
        </where>
    </select>


    <!--获取水表日志最新数据-->
    <select id="selectZhsqSbrzNew" resultType="map">
        select * from
            (select * from ZHSQ_SBRZ order by CREATE_TIME desc)
        where rownum = 1
    </select>

    <!--获取水表日志最新数据-->
    <select id="selectZhsqSbrzByIdNew" resultType="map">
        select * from
        (select * from ZHSQ_SBRZ
        <where>
            <if test="deviceCode != null  and deviceCode != ''">and DEVICE_CODE = #{deviceCode}</if>
        </where>
        order by CREATE_TIME desc)
        where rownum = 1
    </select>
    <!--获取水表每天1使用量-->
    <select id="selectZhsqSbrzById1List" resultType="map">
        SELECT
        to_char(to_date(CREATE_TIME,'yyyymmddHH24:MI:SS'),'yyyy-mm-dd') as time,DAY,
        TOTAL
        FROM
        (
        SELECT
        CREATE_TIME,DAY,
        TOTAL,
        row_number ( ) over ( partition BY DAY ORDER BY CREATE_TIME DESC ) rn
        FROM
        ZHSQ_SBRZ
        <where>
            <if test="deviceCode != null  and deviceCode != ''">and DEVICE_CODE = #{deviceCode}</if>
        </where>
        )
        WHERE
        rn = 1
        ORDER BY
        CREATE_TIME
    </select>
    <!--获取水表每天1使用量-->
    <select id="selectZhsqSbrzByIdAndSEList" resultType="map">
        SELECT
        to_char(to_date(CREATE_TIME,'yyyymmddHH24:MI:SS'),'yyyy-mm-dd') as time,DAY,
        TOTAL
        FROM
        (
        SELECT
        CREATE_TIME,DAY,
        TOTAL,
        row_number ( ) over ( partition BY DAY ORDER BY CREATE_TIME DESC ) rn
        FROM
        ZHSQ_SBRZ
        <where>
            <if test="arg0 != null  and arg0 != ''">and DEVICE_CODE = #{arg0}</if>
            <if test="arg1 != null and arg1 != ''"><!-- 开始时间检索 -->
                and create_time &gt;= #{arg1, jdbcType=BIGINT}
            </if>
            <if test="arg2 != null and arg2 != ''"><!-- 结束时间检索 -->
                and create_time &lt;= #{arg2, jdbcType=BIGINT}
            </if>
        </where>
        )
        WHERE
        rn = 1
        ORDER BY
        DAY
    </select>
    <select id="selectZhsqSbrzById" parameterType="String" resultMap="ZhsqSbrzResult">
        <include refid="selectZhsqSbrzVo"/>
        where sbrzid = #{sbrzid}
    </select>

    <insert id="insertZhsqSbrz" parameterType="ZhsqSbrz">
        insert into ZHSQ_SBRZ
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createByid != null ">create_byid,</if>
            <if test="sbrzid != null  and sbrzid != ''">sbrzid,</if>
            <if test="deviceCode != null  and deviceCode != ''">device_code,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="instant != null ">instant,</if>
            <if test="total != null ">total,</if>
            <if test="waterMeterSn != null ">waterMeterSn,</if>
            <if test="deviceSn != null  and deviceSn != ''">deviceSn,</if>
            <if test="updateByid != null ">update_byid,</if>
            <if test="year != null ">year,</if>
            <if test="month != null ">month,</if>
            <if test="day != null ">day,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createByid != null ">#{createByid},</if>
            <if test="sbrzid != null  and sbrzid != ''">#{sbrzid},</if>
            <if test="deviceCode != null  and deviceCode != ''">#{deviceCode},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="createTime != null ">#{createTime, jdbcType=BIGINT},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime, jdbcType=BIGINT},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="instant != null ">#{instant},</if>
            <if test="total != null ">#{total},</if>
            <if test="waterMeterSn != null and waterMeterSn != '' ">#{waterMeterSn},</if>
            <if test="deviceSn != null  and deviceSn != ''">#{deviceSn},</if>
            <if test="updateByid != null ">#{updateByid},</if>
            <if test="year != null ">#{year},</if>
            <if test="month != null ">#{month},</if>
            <if test="day != null ">#{day},</if>
        </trim>
    </insert>

    <update id="updateZhsqSbrz" parameterType="ZhsqSbrz">
        update ZHSQ_SBRZ
        <trim prefix="SET" suffixOverrides=",">
            <if test="createByid != null ">create_byid = #{createByid},</if>
            <if test="deviceCode != null  and deviceCode != ''">device_code = #{deviceCode},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="createTime != null ">create_time = #{createTime, jdbcType=BIGINT},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime, jdbcType=BIGINT},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="instant != null ">instant = #{instant},</if>
            <if test="total != null ">total = #{total},</if>
            <if test="waterMeterSn != null ">waterMeterSn = #{waterMeterSn},</if>
            <if test="deviceSn != null  and deviceSn != ''">deviceSn = #{deviceSn},</if>
            <if test="updateByid != null ">update_byid = #{updateByid},</if>
        </trim>
        where sbrzid = #{sbrzid}
    </update>

    <delete id="deleteZhsqSbrzById" parameterType="String">
        delete from ZHSQ_SBRZ where sbrzid = #{sbrzid}
    </delete>

    <delete id="deleteZhsqSbrzByIds" parameterType="String">
        delete from ZHSQ_SBRZ where sbrzid in
        <foreach item="sbrzid" collection="array" open="(" separator="," close=")">
            #{sbrzid}
        </foreach>
    </delete>


    <select id="get5DayData" parameterType="String" resultType="map">
        SELECT
        t1.today as today,
        nvl( t2.total, 0 ) as total
        FROM
        ( SELECT to_char( SYSDATE - LEVEL + 1, 'yyyy-mm-dd' ) today FROM DUAL CONNECT BY LEVEL <![CDATA[ <= ]]> 5 ) t1
        LEFT JOIN (
        SELECT
        sum( maxt ) AS total,
        tf
        FROM
        (
        SELECT
        DEVICE_CODE,
        max( total ) AS maxt,
        to_char(to_date(CREATE_TIME,'yyyymmddHH24:MI:SS'),'yyyy-mm-dd') AS tf
        FROM
        ZHSQ_SBRZ
        GROUP BY
        DEVICE_CODE,
        to_char(to_date(CREATE_TIME,'yyyymmddHH24:MI:SS'),'yyyy-mm-dd')
        ) m
        GROUP BY
        tf
        ) t2 ON t1.today = t2.tf
        order by today desc
    </select>


</mapper>