<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feather.community.mapper.ZhsqSxtMapper">
    
    <resultMap type="ZhsqSxt" id="ZhsqSxtResult">
        <result property="sxtid"   column="sxtid"    />
        <result property="sblx"    column="sblx"    />
        <result property="sbmc"    column="sbmc"    />
        <result property="ppmc"    column="ppmc"    />
        <result property="sbxh"    column="sbxh"    />
        <result property="sbzt"    column="sbzt"    />
        <result property="wz"      column="wz"    />
        <result property="xqid"    column="xqid"    />
        <result property="sqid"    column="sqid"    />
        <result property="wzlx"    column="wzlx"    />
        <result property="x"       column="x"    />
        <result property="y"       column="y"    />
        <result property="z"       column="z"    />
    </resultMap>

    <sql id="selectZhsqSxtVo">
        select sxtid, sblx, sbmc, ppmc, sbxh, sbzt, wz, xqid, sqid, wzlx, x, y, z from zhsq_sxt
    </sql>

    <select id="selectZhsqSxtList" parameterType="ZhsqSxt" resultMap="ZhsqSxtResult">
        <include refid="selectZhsqSxtVo"/>
        <where>  
            <if test="sxtid != null  and sxtid != ''"> and sxtid = #{sxtid}</if>
            <if test="sblx != null  and sblx != ''"> and sblx = #{sblx}</if>
            <if test="sbmc != null  and sbmc != ''"> and sbmc = #{sbmc}</if>
            <if test="ppmc != null  and ppmc != ''"> and ppmc = #{ppmc}</if>
            <if test="sbxh != null  and sbxh != ''"> and sbxh = #{sbxh}</if>
            <if test="sbzt != null  and sbzt != ''"> and sbzt = #{sbzt}</if>
            <if test="wz != null  and wz != ''"> and wz = #{wz}</if>
            <if test="xqid != null  and xqid != ''"> and xqid = #{xqid}</if>
            <if test="sqid != null  and sqid != ''"> and sqid = #{sqid}</if>
            <if test="wzlx != null  and wzlx != ''"> and wzlx = #{wzlx}</if>
            <if test="x != null  and x != ''"> and x = #{x}</if>
            <if test="y != null  and y != ''"> and y = #{y}</if>
            <if test="z != null  and z != ''"> and z = #{z}</if>
        </where>
    </select>
    
    <select id="selectZhsqSxtById" parameterType="String" resultMap="ZhsqSxtResult">
        <include refid="selectZhsqSxtVo"/>
        where sxtid = #{sxtid}
    </select>
        
    <insert id="insertZhsqSxt" parameterType="ZhsqSxt">
        insert into zhsq_sxt
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sxtid != null  and sxtid != ''">sxtid,</if>
            <if test="sblx != null  and sblx != ''">sblx,</if>
            <if test="sbmc != null  and sbmc != ''">sbmc,</if>
            <if test="ppmc != null  and ppmc != ''">ppmc,</if>
            <if test="sbxh != null  and sbxh != ''">sbxh,</if>
            <if test="sbzt != null  and sbzt != ''">sbzt,</if>
            <if test="wz != null  and wz != ''">wz,</if>
            <if test="xqid != null  and xqid != ''">xqid,</if>
            <if test="sqid != null  and sqid != ''">sqid,</if>
            <if test="wzlx != null  and wzlx != ''">wzlx,</if>
            <if test="x != null  and x != ''">x,</if>
            <if test="y != null  and y != ''">y,</if>
            <if test="z != null  and z != ''">z,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sxtid != null  and sxtid != ''">#{sxtid},</if>
            <if test="sblx != null  and sblx != ''">#{sblx},</if>
            <if test="sbmc != null  and sbmc != ''">#{sbmc},</if>
            <if test="ppmc != null  and ppmc != ''">#{ppmc},</if>
            <if test="sbxh != null  and sbxh != ''">#{sbxh},</if>
            <if test="sbzt != null  and sbzt != ''">#{sbzt},</if>
            <if test="wz != null  and wz != ''">#{wz},</if>
            <if test="xqid != null  and xqid != ''">#{xqid},</if>
            <if test="sqid != null  and sqid != ''">#{sqid},</if>
            <if test="wzlx != null  and wzlx != ''">#{wzlx},</if>
            <if test="x != null  and x != ''">#{x},</if>
            <if test="y != null  and y != ''">#{y},</if>
            <if test="z != null  and z != ''">#{z},</if>
         </trim>
    </insert>

    <update id="updateZhsqSxt" parameterType="ZhsqSxt">
        update zhsq_sxt
        <trim prefix="SET" suffixOverrides=",">
            <if test="sblx != null  and sblx != ''">sblx = #{sblx},</if>
            <if test="sbmc != null  and sbmc != ''">sbmc = #{sbmc},</if>
            <if test="ppmc != null  and ppmc != ''">ppmc = #{ppmc},</if>
            <if test="sbxh != null  and sbxh != ''">sbxh = #{sbxh},</if>
            <if test="sbzt != null  and sbzt != ''">sbzt = #{sbzt},</if>
            <if test="wz != null  and wz != ''">wz = #{wz},</if>
            <if test="xqid != null  and xqid != ''">xqid = #{xqid},</if>
            <if test="sqid != null  and sqid != ''">sqid = #{sqid},</if>
            <if test="wzlx != null  and wzlx != ''">wzlx = #{wzlx},</if>
            <if test="x != null  and x != ''">x = #{x},</if>
            <if test="y != null  and y != ''">y = #{y},</if>
            <if test="z != null  and z != ''">z = #{z},</if>
        </trim>
        where sxtid = #{sxtid}
    </update>

    <delete id="deleteZhsqSxtById" parameterType="String">
        delete from zhsq_sxt where sxtid = #{sxtid}
    </delete>

    <delete id="deleteZhsqSxtByIds" parameterType="String">
        delete from zhsq_sxt where sxtid in
        <foreach item="sxtid" collection="array" open="(" separator="," close=")">
            #{sxtid}
        </foreach>
    </delete>

    <select id="getSxtTj" parameterType="map" resultType="map">
        SELECT
            concat( concat( 'zs', ',' ), sl ) "sl"
        FROM
            ( SELECT count( sxtid ) sl FROM zhsq_sxt ) UNION
        SELECT
            concat( concat( 'zx', ',' ), sl ) "sl"
        FROM
            ( SELECT count( sxtid ) sl FROM zhsq_sxt WHERE sbzt = '在线' ) UNION
        SELECT
            concat( concat( 'lx', ',' ), sl ) "sl"
        FROM
            ( SELECT count( sxtid ) sl FROM zhsq_sxt WHERE sbzt = '离线' )
    </select>
</mapper>